@page "/acercade"

<h3>Acerca de: </h3>

<h4>Aldea del Sonido</h4>
<p>ABel Batista | 2019-7796</p>
<br />
<br />
<br />
<p>Willy Acevedo | 2019-7874</p>
<br />
<br />
<br />
<p>Gabriel Guerrero | </p>
<br />
<br />
<br />

@code {

}
